*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    font-family: 'Poppins', sans-serif;
}

header img{
    width: 100%;
}

/* header */

.header-first{
    background-color: white;
    /* padding: 15px 0; */
    position: fixed;
    width: 100%;
    z-index: 4;
    top: 0;
    box-shadow: 0 1px 3px #666666;  
    font-size: 20px;
}

.head-lx, .head-rx{
    display: flex;
    align-items: center;
}

.head-content{
    display: flex;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
    list-style: none;
    line-height: 100px;
    padding: 0 10px;
}

.head-lx>.menu{
    margin-left: 20px;
}

.button-head{
    padding: 10px 15px;
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

.head-rx>a{
    margin-right: 20px;
}

li:hover{
    border-bottom:1px solid black;
}

.menu li a{
    text-decoration: none;
    display: inline-block;
    padding: 6px 6px 0 0;
    color: rgb(71, 71, 71);
}

.logo{
    display: inline-block;
    padding-left: 20px;
}

.logo img{
    display: block;
    width: 150px;
}

header ul{
    display: inline-block;
}

/* main */

.jumbotron{
    padding-top: 200px;
    background-color: #b4d0e7;
}

.container{
    margin: 0 auto;
    width: 70%;
    transform: translateY(50px);
}

.container>h1{
    font-size: 100px;
}

.jumbo-text{
    flex-basis: 50;
    font-size: 19px;
    position: relative;
}

.jumbo-text>*{
    display: inline-block;
}

.jumbo-text a{
    margin-top: 20px;
}

.jumbo-text span{
    margin-top: 20px;
}

.jumbo-text i{
    position: absolute;
    bottom: 50px;
    left: 0;
}

.jumbo-bot{
    display: flex;
    margin-top: 30px;
}

.jumbo-bot img{
    width: 50vw;
    padding: 0 50px;
}